---
import { getCollection } from "astro:content";

const blogEntries = await getCollection("blog");
---
<html>
<head>
  <title>Blog Test</title>
</head>
<body>
  <h1>Blog Entries</h1>
  <pre>{JSON.stringify(blogEntries, null, 2)}</pre>
</body>
</html>
